@{
    ViewBag.Title = "Donate to TigerGames4Kids";
}

<h2>Donate to TigerGames4Kids today!</h2>
<p>Donate $1, $5, $10, or $20 as many times as you like! We appreciate your generousity! 
This money will go towards game development.</p>

<div>
    <div class="card text-white bg-success mb-3 col-sm" style="max-width: 40rem; margin-right: 30px; text-align: center">
        <div class="card-body">
            <h4 class="card-title">Select the amount you would like to donate!</h4>
            <button style="background-color:#6772E5;color:#FFF;padding:20px 20px;margin: 30px;border:0;border-radius:4px;font-size:1em"
                    id="checkout-button-sku_ExtEwTCoZj6IIs"
                    role="link">
                $1
            </button>
            <button style="background-color:#6772E5;color:#FFF;padding:20px 20px;margin: 30px;border:0;border-radius:4px;font-size:1em"
                    id="checkout-button-sku_ExtEJailecVVcD"
                    role="link">
                $5
            </button>
            <button style="background-color:#6772E5;color:#FFF;padding:20px 20px;margin: 30px;border:0;border-radius:4px;font-size:1em"
                    id="checkout-button-sku_ExtEKeVEHWfpjq"
                    role="link">
                $10
            </button>
            <button style="background-color:#6772E5;color:#FFF;padding:20px 20px;margin: 30px;border:0;border-radius:4px;font-size:1em"
                    id="checkout-button-sku_ExtFwhV2tpiFih"
                    role="link">
                $20
            </button>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://js.stripe.com/v3"></script>

    <script>
        var stripe = Stripe('pk_test_shXmbtUF5yWvNppctGKcerUp00tspybH8w');

        var checkoutButton = document.getElementById('checkout-button-sku_ExtEwTCoZj6IIs');

        checkoutButton.addEventListener('click', function () {
            // When the customer clicks on the button, redirect
            // them to Checkout.
            stripe.redirectToCheckout({
                items: [{ sku: 'sku_ExtEwTCoZj6IIs', quantity: 1 }],

                // Note that it is not guaranteed your customers will be redirected to this
                // URL *100%* of the time, it's possible that they could e.g. close the
                // tab between form submission and the redirect.
                successUrl: window.location.protocol + '//tutigergames.azurewebsites.net/Home/Success',
                cancelUrl: window.location.protocol + '//tutigergames.azurewebsites.net/Home/Canceled',
            })
                .then(function (result) {
                    if (result.error) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, display the localized error message to your customer.
                        var displayError = document.getElementById('error-message');
                        displayError.textContent = result.error.message;
                    }
                });
        });


        var checkoutButton = document.getElementById('checkout-button-sku_ExtEJailecVVcD');
        checkoutButton.addEventListener('click', function () {
        // When the customer clicks on the button, redirect
        // them to Checkout.
        stripe.redirectToCheckout({
        items: [{sku: 'sku_ExtEJailecVVcD', quantity: 1}],

        // Note that it is not guaranteed your customers will be redirected to this
        // URL *100%* of the time, it's possible that they could e.g. close the
        // tab between form submission and the redirect.
        successUrl: window.location.protocol + '//tutigergames.azurewebsites.net/Home/Success',
        cancelUrl: window.location.protocol + '//tutigergames.azurewebsites.net/Home/Canceled',
        })
        .then(function (result) {
        if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
        }
       });
      });

    var checkoutButton = document.getElementById('checkout-button-sku_ExtEKeVEHWfpjq');
    checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_ExtEKeVEHWfpjq', quantity: 1}],

      // Note that it is not guaranteed your customers will be redirected to this
      // URL *100%* of the time, it's possible that they could e.g. close the
      // tab between form submission and the redirect.
      successUrl: window.location.protocol + '//tutigergames.azurewebsites.net/Home/Success',
      cancelUrl: window.location.protocol + '//tutigergames.azurewebsites.net/Home/Canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
    });

    var checkoutButton = document.getElementById('checkout-button-sku_ExtFwhV2tpiFih');
    checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_ExtFwhV2tpiFih', quantity: 1}],

      // Note that it is not guaranteed your customers will be redirected to this
      // URL *100%* of the time, it's possible that they could e.g. close the
      // tab between form submission and the redirect.
      successUrl: window.location.protocol + '//tutigergames.azurewebsites.net/Home/Success',
      cancelUrl: window.location.protocol + '//tutigergames.azurewebsites.net/Home/Canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
    });
        </script>
}