@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-2">TigerGames4Kids</h1>
    <p class="lead">Join TigerGames4Kids and start playing today!</p>
    <button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("ParentRegister", "Account")';return false;">Sign Up Your Child</button>
    <button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Register", "Account")';return false;">Over 18 and Want to Play?</button>
</div>

<div class="row">

        <div class="card text-white bg-info mb-3 col-sm" style="max-width: 20rem;  margin-right: 30px; display: inline-block">
            <div class="card-body">
                <h4 class="card-title">What We Do</h4>
                We provide the most up-to-date broswer games on the market as well as our custom in-house titles.
                </p>
            </div>
        </div>

        <div class="card text-white bg-success mb-3 col-sm" style="max-width: 20rem;  margin-right: 30px">
            <div class="card-body">
                <h4 class="card-title">Take Control</h4>
                <p>
                    Parents get custom access to all child accounts. See what your kids are doing and keep them safe!
                </p>
            </div>
        </div>
        &nbsp;
        <div class="card text-white bg-warning mb-3 col-sm" style="max-width: 20rem;  margin-right: 30px">
            <div class="card-body">
                <h4 class="card-title">Take Control</h4>
                <p>
                    Parents get custom access to all child accounts. See what your kids are doing and keep them safe!
                </p>
            </div>
        </div>
    </div>
</div>