@{
    ViewBag.Title = "DonationSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Thank you for donating to TigerGames4Kids!</h4>

<p>We need more people like you to keep TigerGames4Kids fun and up to date.</p>

<img src="/Images/thankyou.png" style="width: 600px; height: auto; margin: 20px" />