@model TigerGames4Kids.Models.UserType

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="margin: 5px 0 5px 0 ;">You're about to delete your account</h1>

<div class="jumbotron text-center" style="margin:15px auto 15px auto;">
    <h3 style="margin: 10px 0 20px 0 ;">Are you sure you want to continue?</h3>
    @using (Html.BeginForm("DeleteUser", "Users"))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" class="btn btn-secondary" value="Delete Profile" />
                <a href="/Users/ViewUser" class="btn btn-warning" style="display:inline-block; margin: 2px auto 8px auto;">Go back to my profile</a>

                <div id="error-message"></div>
            </div>
        </div>
    }
</div>
