@Model TigerGames4Kids.Models.UserType

@{
    ViewBag.Title = "ViewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src=@Model.ProfileImageURI alt="Alternate Text" />
<h2>@Model.Name</h2>
<h3>@Model.Username</h3>
<h3>@Model.Age</h3>
