

@{
    ViewBag.Title = "AllGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h1>All Games</h1>
        <a href="/Games/Add" class="btn btn-success" style="display:inline-block; margin: 10px auto 10px auto;">
            Add a New Game!
        </a>
        <a href="/Games/OurGames" class="btn btn-success" style="display:inline-block; margin: 10px auto 10px auto;">
            Check out games made by us!
        </a>
        <div class="row">
            @foreach (TigerGames4Kids.Models.GameType game in Model)
            {
                <div class="card" style="width: 18rem; margin: 10px">
                    <img class="card-img-top" src=@game.Thumbnail alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@game.Title</h5>
                        <p class="card-text">@game.Genre</p>
                        <a href="/Games/Show?title=@game.Title" class="btn btn-success" style="display:inline-block; margin: 0 auto 0 auto;">Play!</a>
                        <a href="/Games/Edit?title=@game.Title" class="btn btn-warning" style="display:inline-block; margin: 0 auto 0 auto;">Edit</a>
                        <a href="/Games/Delete?title=@game.Title" class="btn btn-danger" style="display:inline-block; margin: 0 auto 0 auto;">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
