@Model TigerGames4Kids.Models.GameType[]

@{
    ViewBag.Title = "AllGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@foreach (TigerGames4Kids.Models.GameType game in Model)
    {
        <a href="/Games/Show?title=@game.Title">
            <img src=@game.Thumbnail alt="Alternate Text" />
            <h3>@game.Title</h3>
            <p>@game.Genre</p>
        </a>
    }
