@{
    ViewBag.Title = "OurGames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Our Games</h1>
    <div class="row" >
            <div class="card" style="width: 18rem; margin: 10px">
                <img class="card-img-top" src="../../Images/AnaButtonGame.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ana's Button Game</h5>
                    <p class="card-text">Arcade</p>
                    <a href="https://quiet-basin-12808.herokuapp.com/" target="_blank" class="btn btn-primary">Play!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin: 10px">
                <img class="card-img-top" src="../../Images/jensGame.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Jen's Game</h5>
                    <p class="card-text">Arcade</p>
                    <a href="https://glacial-meadow-71266.herokuapp.com/" target="_blank"  class="btn btn-primary">Play!</a>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin: 10px">
                <img class="card-img-top" src="../../Images/MariaGame.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Maria's Game</h5>
                    <p class="card-text">Arcade</p>
                    <a href="/Games/Show?title=temp2" target="_blank" class="btn btn-primary">Play!</a>
                </div>
            </div>

    </div>
</div>

