@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Maria's Game</h3>
<iframe src="https://quiet-basin-12808.herokuapp.com/shootermonkey?userId=@Model" width="1000" height="700" scrolling="none" frameborder="0"></iframe>

