@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Jen's Game</h3>
<iframe src="https://quiet-basin-12808.herokuapp.com/spaceshootermonkey?userId=@Model" width="1000" height="700" scrolling="none" frameborder="0"></iframe>
<a href="/Games/HighScores?gameTitle= spaceshootermonkey" class="btn btn-success" style="display:inline-block; margin: 0 auto 0 auto;">View Leaderboard</a>
