@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Jen's Game</h3>
<iframe src="http://jennifercodes.me/jens_game/" width="1000" height="700" scrolling="none" frameborder="0"></iframe>

