

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<iframe src=@Model.URI width="800" height="500" scrolling="none" frameborder="0"></iframe>

<body>
    <meta property="og:url" content="http://tutigergames.azurewebsites.net/" />
    <meta property="og:type" content="Games" />
    <meta property="og:title" content="Tiger Games 4 Kids" />
    <meta property="og:description" content="Your description" />
    <meta property="og:image" content="" />

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your share button code -->
    <div class="fb-share-button"
         data-href="http://tutigergames.azurewebsites.net/"
         data-layout="button_count">
    </div>
</body>
