@Model TigerGames4Kids.Models.GameType

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<iframe src=@Model.URI width="800" height="500" scrolling="none" frameborder="0"></iframe>

<iframe src="../../Scripts/PhaserOne/index.html" width="800" height="500" scrolling="none" frameborder="0"></iframe>

