@model TigerGames4Kids.Models.ParentPortalViewModel

@{
    ViewBag.Title = "Parent Portal";
}

<h2>@ViewBag.Title</h2>

<div>
    <h3>Welcome, userName</h3> 
</div>

<div>
    <h4>Games, childNameame has been playing </h4>
</div>

<table style="width:100%">
    <tr>
        <th>Child</th>
        <th>Game</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
</table>

